h1 {color: rgb(176, 200, 236);}
img{ width: 400px;}
#thirdDiv {height: 600px; width: 500px;background-color: rgb(214, 225, 240);padding: 50px;border: rgb(61, 70, 80) 1px solid; }
#spanId {font-size: 18px; margin: 50px;}
